
img {
    max-width: 50vh !important;
}

body {
    background-color: #F0F2F5;
}

.loading {
    text-align: center;
    background: #F0F2F5;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}
