
$break-small: 700px;
$break-large: 1200px;

.home {

  .category-hint {
    text-align: center;
    padding: 15px 0;
  }

  .articles-list {
    max-width: 700px;
    margin: auto;
  }

  .categories-list {
    font-size: 14px;
    text-align: center;
    padding: 20px 0;

    a {
      margin: 15px;
    }
  }

  header {
    width: 100%;
    text-align: center;
    h1 {
      font-size: 50px;
    }
  }

  nav {
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;

    a {
      margin: 15px;
    }
  }

  .post-footer {
    margin-top: 20px;
    text-align: right;
    span {
      margin: 5px;
    }
  }

  footer {
    padding: 20px 0;
    width: 100%;
    float: right;
    text-align: right;
  }

}
